body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.caption {
  font-size: 45pt;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

./*caption:after {
  content:"\A";
  width:10px;
  height:10px;
  border-radius:50%;
  background: #00bbeb;
  display: inline-block;
  margin: 0 0 -2px;
}*/

h2.caption {
  cursor: default;
  text-decoration: none;
}

h2.caption:visited {
  text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #ce3636
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

/*.bakkis {
  background-image: url("images/omena.jpg");
}*/

body#about {
  background-color: #9d9fa0;
}

/*NAVBAREN*/

@font-face {
  font-family: 'bpmenu';
  src:url('../fonts/bpmenu/bpmenu.eot');
  src:url('../fonts/bpmenu/bpmenu.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpmenu/bpmenu.woff') format('woff'),
    url('../fonts/bpmenu/bpmenu.ttf') format('truetype'),
    url('../fonts/bpmenu/bpmenu.svg#bpmenu') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Main menu wrapper */
.cbp-hsmenu-wrapper {
  position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
  background: #9d9fa0;
  position: relative;
  z-index: 100;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-hsmenu > li {
  margin-left: 4em;
  display: inline-block;
}

.cbp-hsmenu > li:first-child {
  margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
  color: #fff;
  font-size: 1.2em;
  line-height: 3em;
  display: inline-block;
  position: relative;
  z-index: 10000;
  outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
  color: #000000;
}

/*DUMMA KUBER FRAMFÖR TEXTEN*/
/* Add an arrow to the main menu link if it has a submenu (not the only child) */
/*.cbp-hsmenu > li > a:not(:only-child):before {
  display: inline-block;
  font-family: 'bpmenu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f107";
  font-size: 80%;
  margin-right: 0.3em;
  opacity: 0.4;
  vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
  content: "\f106";
}*/

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #9d9fa0;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* Submenu style */
.cbp-hssubmenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 0;
  text-align: center; /* for aligning the sub items */
  visibility: hidden;
}

.cbp-hssubmenu:before, 
.cbp-hssubmenu:after { 
  content: " "; 
  display: table; 
}
.cbp-hssubmenu:after { 
  clear: both; 
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
  width: 16.2%;
  display: inline-block;
  vertical-align: top;
  box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0s;
  -moz-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n+6) {
  box-shadow: -28px 0 0 -27px #ddd;
} 

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n+1) {
  box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
  box-shadow: none;
}

.cbp-hssubmenu > li a {
  display: block;
  text-align: center;
  color: #a2a2a2;
  outline: none;
  padding: 2em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
  color: #888;
}

.cbp-hssubmenu > li a img {
  border: none;
  outline: none;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
  opacity: 0.5;
}

.cbp-hssubmenu > li a span {
  display: block;
  min-height: 3em;
  margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
  z-index: 1000;
  visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s;
  -moz-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 0;
  height: 0px;
}

.no-touch .cbp-hsmenubg {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

@media screen and (max-width: 65em){
  .cbp-hsmenu-wrapper {
    font-size: 80%;
  }
}

@media screen and (max-width: 51.4375em){
  .cbp-hsmenu-wrapper {
    font-size: 100%;
  }

  .cbp-hsmenu-wrapper .cbp-hsmenu {
    padding: 0;
    max-width: none;
    width: 100%;
  }

  .cbp-hsmenu > li {
    border-top: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .cbp-hsmenu > li:first-child {
    border-top: none;
  }

  .cbp-hsmenu > li > a {
    display: block;
  }

  .cbp-hsmenu > li > a:not(:only-child):before {
    line-height: 1.8;
    right: 0;
    position: absolute;
    font-size: 200%;
  }

  .cbp-hsmenubg {
    display: none;
  }

  .cbp-hssubmenu {
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    height: 0;
  }

  .cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
    height: auto;
  }

  /* Let's only allow 3 item in a row now */
  .cbp-hssubmenu > li {
    width: 30%;
  }

  /* Reset box shadows for the 6 items in row case */
  .cbp-hssubmenu > li:nth-child(-n+6),
  .cbp-hssubmenu > li:nth-child(6n+1) {
    box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  }

  /* First 4 items don't have upper box shadow */
  .cbp-hssubmenu > li:nth-child(-n+3) {
    box-shadow: -28px 0 0 -27px #ddd;
  } 

  /* Every 5th item does not have a left box shadow */
  .cbp-hssubmenu > li:nth-child(3n+1) {
    box-shadow:  0 -28px 0 -27px #ddd;
  }

}

@media screen and (max-width: 25em){
  /* Let's only allow 1 item in a row now */
  .cbp-hssubmenu > li {
    width: 100%;
    display: block;
  }

  .cbp-hsmenu-wrapper .cbp-hssubmenu > li {
    box-shadow: 0 1px #cecece;
    text-align: left;
  }

  .cbp-hssubmenu > li a {
    text-align: left;
    line-height: 50px;
    padding: 0.4em 1em;
  }

  .cbp-hssubmenu > li a img {
    float: left;
    max-height: 50px;
  }

  .cbp-hssubmenu > li a span {
    min-height: 0;
    margin: 0;
  }
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.cbp-hssubmenu {
  background-color: #c5c5c5;
}
/*.bak {
  background-image: "images/ddd.jpg";
  width: 100%;
}*/
/*
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/







